@import url("https://fonts.googleapis.com/css?family=DM Sans");
.body {
  height: 100vh;
  width: 100vw;
  display: flex;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  font-family: DM Sans;
  font-weight: 500;
}
.left {
  height: 100vh;
  width: 60vw;
  background-color: #ffffff;
  justify-content: center;
}
.left h1,
p,
form,
p {
  margin-left: 100px;
}
.heading {
  margin-top: 180px;
  font-size: 40px;
  font-weight: 700;
  color: black;
}
.left p {
  font-size: 21px;
  margin-top: 8px;
  color: #525252;
}
.registerForm {
  margin-top: 20px;
}
.registerForm input {
  width: 39vw;
  height: 8vh;
  margin-top: 20px;
  border-radius: 5px;
  border: 2px solid #c2c2c2;
  font-size: 20px;
  outline: none;
  color: #525252;
  padding-left: 25px;
}
.signIn {
  width: 15vw;
  height: 7vh;
  border-radius: 5px;
  border: 5px solid #ed5353;
  margin-top: 25px;
  background-color: #ed5353;
  color: white;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;
}
.signUp {
  cursor: pointer;
  color: #000000;
}
.signUp:hover {
  text-decoration: underline;
}
.right {
  height: 100vh;
  width: 40vw;
}
.right p {
  position: absolute;
  top: 4rem;
  right: 5rem;
  color: white;
  font-size: 40px;
}
